alembic==1.4.1
asn1crypto==0.24.0
branca==0.4.0
Brlapi==0.6.7
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cryptography==2.6.1
distro==1.3.0
distro-info==0.21
dominate==2.5.1
entrypoints==0.3
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
folium==0.10.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
keyring==17.1.1
keyrings.alt==3.1.1
louis==3.8.0
Mako==1.1.2
MarkupSafe==1.1.1
numpy==1.18.1
pycairo==1.16.2
pycrypto==2.6.1
pycurl==7.43.0.2
PyGObject==3.30.4
python-apt==1.8.4.1
python-dateutil==2.8.1
python-editor==1.0.4
pyxdg==0.25
requests==2.23.0
SecretStorage==2.3.1
six==1.14.0
SQLAlchemy==1.3.13
unattended-upgrades==0.1
urllib3==1.25.8
visitor==0.1.3
Werkzeug==1.0.0
WTForms==2.2.1
