
<table class="table table-hover">
    <tr>
        <td width=60px>
            <a href='{{ basedir }}bi/{{ message.book_instance_id }}'>
                <img src='{{ basedir }}static/covers/{{ message.book_id }}.jpg' width="50" height="70" ><br>
            </a>
        </td>

        <td class="text-left">
            {% if current_user.username == message.author.username %}
                	<b> You &#x21AA {{ message.recipient.username }}</b>
                    at {{ message.timestamp.strftime('%d %b %Y %H:%M') }} UTC
                    <br>
            {% else %}
                <b>{{ message.author.username }} &#x21AA You </b> 
                at {{ message.timestamp.strftime('%d %b %Y %H:%M') }} UTC
                <br>
            {% endif %}
            <br>
            {{ message.body }}<br>

            <form action="{{ basedir }}delete_message/{{ message.id }}">
                <button type="submit" class="btn btn-default">Delete</button>
            </form>

            {% if message.author.id != current_user.id %}
                <form action="{{ basedir }}send_message/{{ message.author.username }}/{{ message.id }}">
                    <button type="submit" class="btn btn-default">Reply</button>
                </form>
            {% endif %}
        </td>
    </tr>
</table>
