<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e5999609e7d540a7ba87bce43f9c8c28 {
                    position: relative;
                    width: 100.0%;
                    height: 500.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e5999609e7d540a7ba87bce43f9c8c28" ></div>
        
</body>
<script>    
    
            var map_e5999609e7d540a7ba87bce43f9c8c28 = L.map(
                "map_e5999609e7d540a7ba87bce43f9c8c28",
                {
                    center: [50.4547, 30.524],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d73388a74516465dad301a7a35088390 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e5999609e7d540a7ba87bce43f9c8c28);
        
    
            var marker_3de0065028c04cefbb4dc2404b3e8d85 = L.marker(
                [50.485932375259104, 30.476337088063868],
                {}
            ).addTo(map_e5999609e7d540a7ba87bce43f9c8c28);
        
    
            var icon_6214ef2caf9c4e619169ec12dfb1f40b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3de0065028c04cefbb4dc2404b3e8d85.setIcon(icon_6214ef2caf9c4e619169ec12dfb1f40b);
        
    
        var popup_5874ba53dd23433381c065bf70944401 = L.popup({"maxWidth": "100%"});

        
            var html_f14da9be3e2b4b87bb56b83643a1174d = $(`<div id="html_f14da9be3e2b4b87bb56b83643a1174d" style="width: 100.0%; height: 100.0%;">In Search of Lost Time</br><a href=http://127.0.0.1:5000/bi/3><img src="/static/covers/1.jpg" width="50" height="70" ></a></br>128 uah</div>`)[0];
            popup_5874ba53dd23433381c065bf70944401.setContent(html_f14da9be3e2b4b87bb56b83643a1174d);
        

        marker_3de0065028c04cefbb4dc2404b3e8d85.bindPopup(popup_5874ba53dd23433381c065bf70944401)
        ;

        
    
    
            var marker_ea268d4d06c044f6855b0c032b8d342d = L.marker(
                [50.45760517446542, 30.529095189494644],
                {}
            ).addTo(map_e5999609e7d540a7ba87bce43f9c8c28);
        
    
            var icon_16eeb3521a3945c6bb28e1f9396b1aba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ea268d4d06c044f6855b0c032b8d342d.setIcon(icon_16eeb3521a3945c6bb28e1f9396b1aba);
        
    
        var popup_6196303464134c8ca3ac17c56978b9c7 = L.popup({"maxWidth": "100%"});

        
            var html_86a2b778e9eb423590892b3d7e0d1ea4 = $(`<div id="html_86a2b778e9eb423590892b3d7e0d1ea4" style="width: 100.0%; height: 100.0%;">In Search of Lost Time</br><a href=http://127.0.0.1:5000/bi/5><img src="/static/covers/1.jpg" width="50" height="70" ></a></br>128 uah</div>`)[0];
            popup_6196303464134c8ca3ac17c56978b9c7.setContent(html_86a2b778e9eb423590892b3d7e0d1ea4);
        

        marker_ea268d4d06c044f6855b0c032b8d342d.bindPopup(popup_6196303464134c8ca3ac17c56978b9c7)
        ;

        
    
    
            var marker_05eb6f1acd664939bcb35f76aea85f8f = L.marker(
                [50.40660132775487, 30.4963531251872],
                {}
            ).addTo(map_e5999609e7d540a7ba87bce43f9c8c28);
        
    
            var icon_19ae337f9aae4d828e4cd0bb1df9ef78 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_05eb6f1acd664939bcb35f76aea85f8f.setIcon(icon_19ae337f9aae4d828e4cd0bb1df9ef78);
        
    
        var popup_9d310feebe1e4ffaad46f16635f44cb7 = L.popup({"maxWidth": "100%"});

        
            var html_b60b441997174fe59e7bd52476e42f28 = $(`<div id="html_b60b441997174fe59e7bd52476e42f28" style="width: 100.0%; height: 100.0%;">In Search of Lost Time</br><a href=http://127.0.0.1:5000/bi/11><img src="/static/covers/1.jpg" width="50" height="70" ></a></br>151 uah</div>`)[0];
            popup_9d310feebe1e4ffaad46f16635f44cb7.setContent(html_b60b441997174fe59e7bd52476e42f28);
        

        marker_05eb6f1acd664939bcb35f76aea85f8f.bindPopup(popup_9d310feebe1e4ffaad46f16635f44cb7)
        ;

        
    
    
            var marker_2f43018a0ca0415cb14f06d63bd08351 = L.marker(
                [50.485932375259104, 30.476337088063868],
                {}
            ).addTo(map_e5999609e7d540a7ba87bce43f9c8c28);
        
    
            var icon_66fb84429ae74e6d8bac963dcb070a9d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2f43018a0ca0415cb14f06d63bd08351.setIcon(icon_66fb84429ae74e6d8bac963dcb070a9d);
        
    
        var popup_3b32eb99a5784676ba38c2d5df13e6f0 = L.popup({"maxWidth": "100%"});

        
            var html_b471d55f5fd147d887bedbcbb14dac39 = $(`<div id="html_b471d55f5fd147d887bedbcbb14dac39" style="width: 100.0%; height: 100.0%;">In Search of Lost Time</br><a href=http://127.0.0.1:5000/bi/17><img src="/static/covers/1.jpg" width="50" height="70" ></a></br>87 uah</div>`)[0];
            popup_3b32eb99a5784676ba38c2d5df13e6f0.setContent(html_b471d55f5fd147d887bedbcbb14dac39);
        

        marker_2f43018a0ca0415cb14f06d63bd08351.bindPopup(popup_3b32eb99a5784676ba38c2d5df13e6f0)
        ;

        
    
    
            var marker_787b833ede494c8f9aa861ee629bd673 = L.marker(
                [50.47602003714671, 30.503069957970695],
                {}
            ).addTo(map_e5999609e7d540a7ba87bce43f9c8c28);
        
    
            var icon_667b1c313274446f8ea81c96edb3e1d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_787b833ede494c8f9aa861ee629bd673.setIcon(icon_667b1c313274446f8ea81c96edb3e1d3);
        
    
        var popup_bb48f12e8f084c2b8fc2ac3504671ac3 = L.popup({"maxWidth": "100%"});

        
            var html_0afe477bc40846d6b523a407ebb112e7 = $(`<div id="html_0afe477bc40846d6b523a407ebb112e7" style="width: 100.0%; height: 100.0%;">In Search of Lost Time</br><a href=http://127.0.0.1:5000/bi/21><img src="/static/covers/1.jpg" width="50" height="70" ></a></br>121 uah</div>`)[0];
            popup_bb48f12e8f084c2b8fc2ac3504671ac3.setContent(html_0afe477bc40846d6b523a407ebb112e7);
        

        marker_787b833ede494c8f9aa861ee629bd673.bindPopup(popup_bb48f12e8f084c2b8fc2ac3504671ac3)
        ;

        
    
</script>