<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3326df42e444498c859e76df293e7382 {
                    position: relative;
                    width: 100.0%;
                    height: 500.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3326df42e444498c859e76df293e7382" ></div>
        
</body>
<script>    
    
            var map_3326df42e444498c859e76df293e7382 = L.map(
                "map_3326df42e444498c859e76df293e7382",
                {
                    center: [50.4547, 30.524],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7269375301344c71be180c329525d273 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3326df42e444498c859e76df293e7382);
        
    
            var marker_9839af232632414d83242560170ea3cb = L.marker(
                [50.47167457264991, 30.512807634131654],
                {}
            ).addTo(map_3326df42e444498c859e76df293e7382);
        
    
            var icon_2682f8f139404e4d84825d1095b77357 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9839af232632414d83242560170ea3cb.setIcon(icon_2682f8f139404e4d84825d1095b77357);
        
    
        var popup_7337dc9be7e94277a260466fc6eeed9f = L.popup({"maxWidth": "100%"});

        
            var html_915ee9372ef542b4971c2563c94d0881 = $(`<div id="html_915ee9372ef542b4971c2563c94d0881" style="width: 100.0%; height: 100.0%;">In Search of Lost Time</br><img src="/static/covers/1.jpg" width="50" height="70" ></br>99 uah</div>`)[0];
            popup_7337dc9be7e94277a260466fc6eeed9f.setContent(html_915ee9372ef542b4971c2563c94d0881);
        

        marker_9839af232632414d83242560170ea3cb.bindPopup(popup_7337dc9be7e94277a260466fc6eeed9f)
        ;

        
    
    
            var marker_9072e6ebc91f4e2492af33e4be11a3cd = L.marker(
                [50.46462309251121, 30.487842271025368],
                {}
            ).addTo(map_3326df42e444498c859e76df293e7382);
        
    
            var icon_1c3c4a0554d441779af03f9495e17ebf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9072e6ebc91f4e2492af33e4be11a3cd.setIcon(icon_1c3c4a0554d441779af03f9495e17ebf);
        
    
        var popup_b79275161ad1494f8091e663514e72ed = L.popup({"maxWidth": "100%"});

        
            var html_4b89743f276f44e9b88672945d0905cf = $(`<div id="html_4b89743f276f44e9b88672945d0905cf" style="width: 100.0%; height: 100.0%;">In Search of Lost Time</br><img src="/static/covers/1.jpg" width="50" height="70" ></br>184 uah</div>`)[0];
            popup_b79275161ad1494f8091e663514e72ed.setContent(html_4b89743f276f44e9b88672945d0905cf);
        

        marker_9072e6ebc91f4e2492af33e4be11a3cd.bindPopup(popup_b79275161ad1494f8091e663514e72ed)
        ;

        
    
</script>