{% extends "base.html" %}

{% block app_content %}

    <h1>Book  instance page </h1>
    <h2>{{ book_instance.title }}</h2>
    <img src="/static/covers/{{ book_instance.book_id }}.jpg" width="70" height="100" onerror="if (this.src != '/static/covers/0.jpg') this.src = '/static/covers/0.jpg';" >
    </br>
    <table class="table table-hover">
        <tr valign="top">
            <td>offered by user:</td><td> {{ book_instance.username }}</td>
        </tr>
        <tr>
            <td>id:</td>
            <td> {{ book_instance.id }}</td>
        </tr>
        <tr>
            <td>title:</td>
            <td>{{ book_instance.title }}</td>
        </tr>
        <tr>
            <td>author:</td>
            <td>{{ book_instance.author }} </td>
        </tr>
        <tr>
            <td>price: </td>
            <td>{{ book_instance.price }}</td>
            
        </tr>
        <tr>
            <td>condition:</td>
            <td>{{ book_instance.condition }} of 12</td>
        </tr>
        <tr>
            <td>description:</td>
            <td>{{ book_instance.description }}</td>
        </tr>
    </table>
    <br>
    {% if editable %}
        {% if book_instance.is_active %}
            <button type="button" onclick="window.location.href='{{ url_for( "main.deactivate_book_instance", book_instance_id=book_instance.id) }}';">deactivate</button>
        {% else %}
            <button type="button" onclick="window.location.href='{{ url_for( "main.activate_book_instance", book_instance_id=book_instance.id) }}';">activate</button>
        {% endif %}
            <button type="button" onclick="window.location.href='{{ url_for( 'main.edit_book_instance', book_instance_id=book_instance.id) }}';">edit</button>

    {% else %}
    <form action="" method="post" novalidate>
        Send message to seller (User {{ book_instance.username }})
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }}<br>
            {{ form.message(cols=50, rows=4) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
{% endblock %}
