<style>
    #book_instances {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 40%;
    }
    #book_instances td, #book_instances th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    #book_instances tr:nth-child(even){background-color: #f2f2f2;}
    #book_instances tr:hover {background-color: #ddd;}
    #book_instances th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
</style>

{% extends "base.html" %}


{% block content %}

    <h1>Book  instance page </h1>
    <h2>{{ book_instance.title }}</h2>
    <table id="book_instances">

        <tr valign="top">
            <td>offered by user:</td><td> {{ book_instance.username }}</td>
        </tr>
        <tr>
            <td>id:</td>
            <td> {{ book_instance.id }}</td>
        </tr>
        <tr>
            <td>title:</td>
            <td>{{ book_instance.title }}</td>
        </tr>
        <tr>
            <td>author:</td>
            <td>{{ book_instance.author }} </td>
        </tr>
        <tr>
            <td>price: </td>
            <td>{{ book_instance.price }}</td>
            
        </tr>
        <tr>
            <td>condition:</td>
            <td>{{ book_instance.condition }} of 12</td>
        </tr>
        <tr>
            <td>description:</td>
            <td>{{ book_instance.description }}</td>
        </tr>
    </table>
    <br>
    {% if editable %}
        <button type="button" onclick="window.location.href='{{ url_for( 'book_instance', book_instance_id=book_instance.id) }}';">self</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'edit_book_instance', book_instance_id=book_instance.id) }}';">edit</button>
    {% endif %}
{% endblock %}
