{% extends "base.html" %}

{% block app_content %}
    {% if current_user.username %}
        <h1>Hi, {{ current_user.username }}</h1>
    {% else %}
        <h1>Hi, anon</h1>
    {% endif %}

    {% include '_map.html' %}

    <h2>Recently added Book instances</h2>

    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>owner's name</th>
        </tr>
        {% for book_instance in book_instances %}
            {% include '_book_instance.html' %}
        {% endfor %}
    </table>

    <h2>Library</h2>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Cover</th>
            <th>Instances</th>
        </tr>
    {% for book in books %}
        {% include '_book.html' %}
    {% endfor %}
    </table>

{% endblock %}