{% extends "layout.html" %}

{% block body %}
    {% if current_user.username %}
        <h1>Hi, {{ current_user.username }}</h1>
    {% else %}
        <h1>Hi, anon</h1>
    {% endif %}

    <h2>Library</h2>
    <table id="book_instances">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Cover</th>
        </tr>
    {% for book in books %}
    <tr>
        {% include '_book.html' %}
    </tr>
    {% endfor %}
    </table>

    <h2>Book instances</h2>

    <table id="book_instances">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        {% for book_instance in book_instances %}
        <tr>
            {% include '_book_instance.html' %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}