{% extends "base.html" %}

{% block app_content %}
    <h2>Users list</h2>
    <table class="table table-hover">
        <tr>
            <th>Avatar</th>
            <th>Book_id</th>
        </tr>
        {% for user in users %}
        <tr>

            <td>
                {% if user.avatar %}
                    <img src="{{ user.avatar }}">
                {% else %}
                    <img src="/static/avatar/default_avatar.png" >
                {% endif %}
            </td>
            <td>
                <b>User name: {{ user.username }}</b></br>
                {% if user.last_seen %}
                    <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
