{% extends "base.html" %}

{% block app_content %}
<div class="container">
<h2 class="text-center">User {{ user.username }}</h2>

<table>
    <tr valign="top">
        <td>
            {% if user.avatar %}
            <img src="{{ user.avatar }}"></br>
            {% else %}
            <img src="/static/avatar/default_avatar.png"></br>
            {% endif %}
            <a class="btn btn-default btn-xs" href="{{ url_for('edit_profile') }}" role="button"><spanclass="glyphicon glyphicon-pencil"></span> Edit profile</a>
        </td>
        <td>
            <p>{{ user.about_me }}</p>
            {% if user == current_user %}

            {% endif %}
        </td>
    </tr>
</table>
</br>

{% if book_instances %}
<h3 class="text-center">My books</h3>

<table class="table ">
    <thead>
    <tr>
        <th style="width: 30% ">Title</th>
        <th style="width: 30% "> Author</th>
        <th style="width: 10% ">Price</th>
      {% if user == current_user %}
        <th style="width: 30% ">Actions</th>
      {% endif %}
    </tr>
    </thead>
    {% for book_instance in book_instances %}
    {% if book_instance.is_active %}
    <tr class="bg-success">
        <td>{{ book_instance.title }}</td>
        <td>{{ book_instance.author }}</td>
        <td>{{ book_instance.price }}</td>
        {% if user == current_user %}
        <td>
            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-default"
                    href="{{ url_for('deactivate_book_instance', book_instance_id=book_instance.id) }}"
                    role="button"><span class="glyphicon glyphicon-off"></span> Deactivate</a>
                <a class="btn btn-default" href="{{ url_for('edit_book_instance', book_instance_id=book_instance.id) }}"
                    role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            </div>
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}

{% if user == current_user %}
    {% for book_instance in book_instances %}
    {% if not book_instance.is_active %}
    <tr class="bg-danger">
        <td>{{ book_instance.title }}</td>
        <td>{{ book_instance.author }}</td>
        <td>{{ book_instance.price }}</td>
        <td>
            <div class="btn-group btn-group-sm" role="group">
            <a class="btn btn-default" href="{{ url_for('activate_book_instance', book_instance_id=book_instance.id) }}"
                role="button"><span class="glyphicon glyphicon-ok"></span> Activate</a>
            <a class="btn btn-default" href="{{ url_for('edit_book_instance', book_instance_id=book_instance.id) }}"
                role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a class="btn btn-default" href="{{ url_for('delete_book_instance', book_instance_id=book_instance.id) }}"
                role="button"><span class="glyphicon glyphicon-remove"></span> Delete</a>
            </div>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}
{% else %}
You have no books yet.
{% endif %}
</div>
{% endblock %}
