{% extends "layout.html" %}

{% block body %}
    {% if current_user.username %}
        <h1>Hi, {{ current_user.username }}</h1>
    {% else %}
    <h1>Hi, anon</h1>
    {% endif %}
    <h2>Users list</h2>
    <table id="book_instances">
        <tr>
            <th>Avatar</th>
            <th>Details</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>
                <img src="{{ user.avatar(48) }}">
            </td>
            <td>
                <b>User name: {{ user.username }}</b></br>
                User email: {{ user.email }}</br>
                {% if user.last_seen %}
                    Last seen on: {{ user.last_seen }}
                {% endif %}</br>
                latitude: {{ user.latitude }}</br>
                longitude: {{ user.longitude }}
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}